body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.mapContiner {
  width: 80vw;
  position: absolute;
  right: 0;
}

.sidebar {
  position: absolute;
  width: 20vw;
  height: 200px;
  z-index: 100;
}

.dronesProperties {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


button {
  background-color: black;
  color: white;
  border-radius: 8px;
  outline: 0;
  outline: inherit;
  border: 0;
  padding: 5px 10px;
}

.dronesButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
}